/* Contenedor principal para la página */
.app-container {
  margin-top: 50px; /* Ajusta este valor para mover más hacia arriba o abajo */
  padding: 20px;
  text-align: center;
}

/* Estilo para el header o barra de navegación */
.header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  position: relative;
  top: 0;
  width: 100%;
  text-align: center;
}

/* Estilo para la barra de navegación */
.navbar {
  list-style-type: none;
  padding: 0;
}

.navbar li {
  display: inline;
  margin: 0 15px;
}

/* Productos */
.product-card {
  display: inline-block;
  width: 220px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-card h3 {
  font-size: 20px;
}

.product-card p {
  font-size: 16px;
  color: #333;
}

.product-card button {
  padding: 10px;
  background-color: #5cb85c;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.product-card button:hover {
  background-color: #4cae4c;
}



